﻿.Phonebook_box {
  width: 600px;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 2px 2px 15px 8px #afeeee;
}
.Phonebook_title,
.Phonebook_second-title {
  color: rgb(6, 22, 58);
  text-align: center;
  background-color: rgb(7, 149, 165);
  box-shadow: 2px 2px 10px 3px #6c2d2d;
  padding: 10px;
  border-radius: 15px;
}

